---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About me | SarioDesign" metaDescription="I focused my skills on the basics of front-end development: HTML, CSS and JAVASCRIPT">
	<main>
		<section>
			<img src="./about-me-photo.jpg" alt="me" />
			<div class="about-text">
				<p>I have been working for ten years. I started with a focus on design, but step-by-step I moved on code, working mainly in the publishing industry.</p>
				<p>I focused my skills on the basics of front-end development: <span>HTML</span>, <span>CSS</span>, <span>JAVASCRIPT</span></p>
				<p>In recent years, I have approached various JS frameworks and libraries, like <span>React</span>, <span>Vuejs</span>, <span>Svelte</span>, discovering others with a broad ecosystem and community, such as <span>Next.js</span>, <span>Nuxt</span>, <span>Astro</span> with which I maintain different personal projects in my free time.</p>
				<p>I usually carve out free time to immerse myself in a good read, listen to the latest releases or trends on Spotify, watch the latest season of my favorite series, or delve into a video game adventure.</p>
				<p><a href="/cv-rosario-russo-2023.pdf" target="_blank">View my CV</a></p>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss" is:global>
	section {
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 16px;

		@media screen and (min-width: 1366px) {
			padding: 0;
		}
	}

	img {
		border-radius: 16px;
		box-shadow: 0 20px 60px -30px rgba(0,0,0,.45);
		width: 100%;

		@media screen and (min-width: 768px) {
			border-radius: 50%;
			float: left;
			height: 280px;
			margin: 0 32px 32px 0;
			shape-outside: margin-box;
			width: 280px;
		}
	}

	.about-text {
		padding-top: 32px;
		
		p {
			font-size: 18px;
			line-height: 32px;
			margin: 0 0 32px;

			@media screen and (min-width: 1366px) {
				width: calc(100% - 150px);		
			}

			@media (prefers-color-scheme: dark) {
				color: var(--white);
			}
			@media (prefers-color-scheme: light) {
				color: var(--dark-black);
			}

		}
		
		span {
			font-family: 'Roboto Serif', serif;
			font-style: italic;
			color: var(--orange)
		}

		a {
			color: var(--orange);
			font-family: 'Roboto Serif', serif;
		}
	}

	.header {
		position: relative;
		transform: translateY(0);
	}
</style>
