---
import Layout from '../layouts/Layout.astro';
import myPhoto from '../assets/about-me-photo.jpg';
---

<Layout title="About me | SarioDesign" metaDescription="I focused my skills on the basics of front-end development: HTML, CSS and JAVASCRIPT">
	<main>
		<section>
			<img cursor-class="photo" class="photo" src="about-me-photo.webp" alt="me" />
			<div class="about-text">
				<span class="about-text-start">About</span>
					<div class="paragraphs">
						<div cursor-class="text" class="paragraph">I have been working for ten years. I started with a focus on design, but step-by-step I moved on code, working mainly in the publishing industry.</div>
						<div cursor-class="text" class="paragraph">I focused my skills on the basics of front-end development: <span>HTML</span>, <span>CSS</span>, <span>JAVASCRIPT</span></div>
						<div cursor-class="text" class="paragraph">In recent years, I have approached various JS frameworks and libraries, like <span>React</span>, <span>Vuejs</span>, <span>Svelte</span>, discovering others with a broad ecosystem and community, such as <span>Next.js</span>, <span>Nuxt</span>, <span>Astro</span> with which I maintain different personal projects in my free time.</div>
						<div cursor-class="text" class="paragraph">I usually carve out free time to immerse myself in a good read, listen to the latest releases or trends on Spotify, watch the latest season of my favorite series, or delve into a video game adventure.</div>
					</div>
					<!-- <p><a class="about-cv-link" cursor-class="link" href="/cv-rosario-russo-2023.pdf" target="_blank">View my CV</a></p> -->
				<span class="about-text-end">Me</span>
			</div>
		</section>
	</main>
</Layout>

<style lang="scss" is:global>
	section {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 0 16px;

		@media screen and (min-width: 1366px) {
			max-width: 1200px;
			flex-direction: row;
			gap: 64px;
			padding: 0;
		}

		@media screen and (min-width: 1680px) {
			max-width: 1560px;
		}

		h1 {
			font-size: 32px;
			letter-spacing: 2px;
			margin: 0 0 32px;
			text-align: right;

			&:before {
				content: '<';
			}

			&:after {
				content: '/>';
			}
		}

		a {
			color: var(--orange);
			display: block;
			font-family: 'Roboto Serif', serif;
			text-align: right;
		}
	}

	img {
		border-radius: 16px;
		box-shadow: 0 20px 60px -30px rgba(0,0,0,.45);
		margin: 0 auto;
		width: 280px;

		@media screen and (min-width: 768px) {
			border-radius: 50%;
			height: 280px;
		}

		@media screen and (min-width: 1366px) {
			height: 320px;
			width: 320px;
		}
	}

	.about-text {
		padding-top: 32px;

		.about-cv-link {
			font-style: normal;
		}
	}

	.paragraph {
		font-size: 16px;
		line-height: 28px;
		margin: 0 0 32px;
		padding-left: 32px;

		@media screen and (min-width: 1366px) {
			font-size: 20px;
			line-height: 36px;		
			width: 100%;
		}

		@media (prefers-color-scheme: dark) {
			color: var(--white);
		}
		@media (prefers-color-scheme: light) {
			color: var(--dark-black);
		}
	}

	.line {
		height: 36px;
		overflow: hidden;
	}

	span.about-text-start {
		font-family: var(--base-font-family-serif);
		color: var(--orange);

		display: block;
		font-size: 24px;
		margin: 0 0 16px;
		&:before {
			content: '<';
		}

		&:after {
			content: '>';
		}
	}

	span.about-text-end {
		font-family: var(--base-font-family-serif);
		color: var(--orange);

		display: block;
		font-size: 24px;
		margin: 16px 0 0;
		&:before {
			content: '</';
		}

		&:after {
			content: '>';
		}
	}

	.header {
		position: relative;
		transform: translateY(0);
	}
</style>

<script>
	import { gsap } from 'gsap'
	import SplitType from 'split-type'
	import { TypeShuffle } from '../assets/js/typeShuffle.js';

	const textElement = document.querySelector('.paragraphs');
    
	const ts = new TypeShuffle(textElement);
	ts.trigger('fx5');

	/* const Intro = new SplitType('.paragraph', {
		types: 'words,lines'
	})
	
	gsap.from(".word", {
		opacity: 0,
		stagger: 0.025,
		delay: 0.25,
		y: 20,
		duration: .05,
	}) */

	gsap.from('.photo', {
		delay: 0.125,
		duration: 1,
		rotationY: 90,
	})
</script>
