---
import { fade, slide } from 'astro:transitions';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rosario Russo | Web developer - Front-end & UI/UX - Personal website" metaDescription="Rosario Russo | Web developer - Front-end & UI/UX personal website">
	<main transition:name="main" transition:animate={slide()}>
		<h1 cursor-class="text" id="intro">I'm Rosario Russo also known as SarioDesign<br> Web developer - Front-end & UI/UX <br>currently based in <span class="evidence">Tuscany</span></h1>
	</main>
</Layout>

<script>
	import { gsap } from 'gsap'
	import SplitType from 'split-type'

	const Intro = new SplitType('#intro')

	setTimeout(() => {
		const el = document.querySelector('#intro') as HTMLElement;
    el.style.visibility = 'visible';
	}, 300)
	
	gsap.from('.char', {
		opacity: 0,
		stagger: 0.05,
		delay: 0,
		duration: 0.025,
	})

	gsap.to('.footer', {
		y: 0,
		opacity: 1,
		stagger: 0.05,
		delay: 0.2,
		duration: .5
	})
</script>

<style is:global>
	h1 {
		color: #fff;
		font-size: clamp(1.25rem, 4vw, 2.75rem);
		line-height: clamp(2.75rem, 4vw, 4.5rem);
		margin: 0;
		opacity: 1;
		text-align: center;
		transition: opacity .15s;
		visibility: hidden;
	}

	@media (prefers-color-scheme: dark) {
		h1 {
			color: #fff
		}
	}
	@media (prefers-color-scheme: light) {
		h1 {
			color: var(--dark-black);
		}
	}
	.evidence {
		color: var(--orange);
		z-index: -1;
	}

	main {
		min-height: 100vh;
		padding: 0 8px;
	}

	.footer,
	.btn-menu {
		opacity: 0;
		transform: translateY(50px);
		transition: all .15s;
	}

	.rounded{
		width: 30px;
		height: 30px;
		border: 2px solid #fff;
		border-radius: 50%;
    z-index: 999;
	}

	canvas {
    display: block;
    background-color: transparent;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
  }
	
</style>

<script src="../assets/js/main.js"></script>
