---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			<span>I'm Rosario Russo</span>
			<span>a front-end developer</span>
			<span>also know as SarioDesign</span>
		</h1>
	</main>
</Layout>

<style>
	main {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		text-transform: uppercase;
	}
	h1 {
		color: #fff;
		display: flex;
		flex-direction: column;
		font-size: 2rem;
		line-height: 2.25rem;
		margin: 0;
		text-align: center;
	}

	strong {
		font-family: 'Rubik Glitch', cursive;
	}
	
</style>
