---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SarioDesign Front-end developer - Personal website">
	<main>
		<h1>Front-end & UI Developer <br>currently based in <span>Tuscany</span></h1>
	</main>
</Layout>

<style>
	main {
		align-items: center;
		display: flex;
		height: 100vh;
		justify-content: center;
	}
	h1 {
		color: #fff;
		font-size: clamp(1.5rem, 4vw, 2.5rem);
		line-height: clamp(2rem, 4vw, 3rem);
		margin: 0;
		text-align: center;
	}

	@media (prefers-color-scheme: dark) {
		h1 {
			color: #fff
		}
	}
	@media (prefers-color-scheme: light) {
		h1 {
			color: var(--dark-black);
		}
	}
	span {
		color: var(--orange)
	}
	
</style>
