---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." metaDescription="">
	<main>
		<h1>Playground</h1>
		<div class="playground-text">
			<p>This is the place where I experiment and put into practice everything related to the world of web development</p>
		</div>
	</main>
</Layout>

<style>
	.header {
		transform: translateY(0);
	}
</style>
