---
import Logo from '../components/Logo.astro';
import MenuIcon from './MenuIcon.astro';
import Navigation from '../components/Navigation.astro';
---

<header class="header">
	<Logo />
	<MenuIcon />
	<Navigation />
	<div class="backdrop"></div>
</header>

<style>
	.header {
		align-items: center;
		background-color: var(--header-bg);
		display: flex;
		justify-content: space-between;
		left: 0;
		padding: 8px 16px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}
	
	@media screen and (min-width: 1024px) {
		.header {
			margin-bottom: 0;
			padding: 16px;
		}
	}

	.backdrop {
    position: absolute;
    inset: 0;
    height: 200%;
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(
      to bottom,
      black 0% 50%,
      transparent 50% 100%
    );
  }
</style>