<div class="logo">
	<a class="logo__link" href="/" data-astro-reload>{'<sario/design>'}</a>
</div>

<style lang="scss">
	.logo {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 2px;

		&__link {
			color: var(--dark-black);
			text-decoration: none;
		}
	}
</style>