<div class="logo">
	<a class="logo__link" href="/" data-astro-reload>{'<sario/design>'}</a>
</div>

<style lang="scss">
	.logo {
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 2px;
		position: relative;
		z-index: 1;

		&__link {
			color: var(--dark-black);
			text-decoration: none;
		}
	}
</style>